@import "../../styles/variables.scss";

.footer {
  padding: 2rem;
  background-color: $base-color;
  text-align: center;
  padding-bottom: 1rem;

  & p {
    color: $lighter-gray;
    font-size: 0.7rem;
  }
}

@media screen and (min-height: $medium-bp) {
  .social {
    padding: 2rem;
  }
}

@media screen and (min-width: $small-bp) {
  .footer p {
    font-size: 1rem;
  }
}

.link {
  text-decoration: none;
  color: #da9bf0;
  animation: blinker 1.5s linear infinite;
  &:hover {
    text-decoration: none;
    color: blueviolet;
    // font-weight: bold;
  }
}

@media screen and (min-width: $extra-large-bp) {
  .social {
    display: block;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
