.container {
    width: 100%;
    max-width: 78vw;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    padding-bottom: 2.5%; //Stops overflow of iframe/map
}

.map {
    border-radius: 50%;
    overflow: hidden;

}

