.container {
    height: 350;
    max-width: 78vw;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    padding: 0;
    max-height: 50%;
}

.map {
    border-radius: 50%;
    overflow: hidden;
}

