.container {
    width: 100%;
    max-width: 78vw;
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
}

.map {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5%;

}

