@import "../../styles/variables";

.companyLogo {
  max-height: 2.5rem;
  margin: 1rem;
}

.nav {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  font-variant: small-caps;
  padding: 0.5rem 2rem !important;
  display: flex;
  align-items: center;
}

// .collapseMenu {
//     width: 50%;
// }

.navItem {
  text-align: center;
  font-size: 1.2rem;
}

.navLink {
  border-radius: 2%;
  &:hover {
    color: white !important;
  }
}

.navItemButton {
  list-style-type: none;
  text-align: center;
  margin: 0 1rem;
}
.dropdown {
  margin: 0 auto;
}

.dropdownToggle {
  margin: 0;
}

.dropdownLink {
  color: gray;
  border-radius: 2%;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  //   padding-left: 0.5rem;
  //   padding-right: 0.5rem;
}

.dropdownLink:hover {
  color: white;
  text-decoration: none;
}

.dropdownMenu {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 0;
}

.dropdownItem {
  color: gray;
  font-variant: small-caps;

  &:hover {
    background-color: inherit;
    color: white;
  }
}

.dropdownToggle {
  padding-right: 0;
}

.dropdownDivider {
  border-top: 1px solid gray;
  max-width: 130px;
  margin: 0 auto;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  padding: 0 !important;
  font-variant: normal;
  border: 1px solid white;
  margin: 0 auto;

  animation: blinker 1s linear infinite;
}

.button:hover {
  color: black;
  background-color: $lighter-gray;
}

@media screen and (min-width: $small-bp) {
  .companyLogo {
    max-height: 3rem;
  }

  .nav {
    text-align: center;
    font-size: 1.5rem;
    // padding-bottom: 2rem;
  }

  .dropdownMenu {
    font-size: 1.25rem;
  }

  .navItem {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $extra-large-bp) {
  .nav {
    background-color: black !important;
  }
}

@media screen and (min-width: $large-bp) {
  .dropdownLink {
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: $extra-large-bp) {
  .nav {
    padding-bottom: 0.5rem;
  }
  .navItem {
    padding-top: 0.6rem;
    font-size: 1.2rem;
    min-height: 2rem;
    margin-bottom: 1rem;
  }
  .navLink {
    &:hover {
      border-bottom: 1px solid $base-color-light;
      // text-decoration: underline;
    }
  }

  .dropdownMenu {
    font-size: 1.25rem;
  }

  .dropdownLink {
    margin: 0 auto;
    &:hover {
      border-bottom: 1px solid $base-color-light;
    }
  }
}

// Animation

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
