.main {
    background-image: black url('../../public/ss-men.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    padding-top: 1rem;
}

.content {
    padding-bottom: 2.7rem;
}
