@import "../../styles/variables.scss";

.main {
  background-image: url("../../public/ss-wrestle.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10vh;
}

.container {
  // display: flex;
  // justify-content: center;
}

.heading {
  display: block;
  color: $base-color-lighter;
}
.col {
  margin: 2rem 0;
  text-align: center;
}
