@import "../../styles/variables.scss";

.main {
  background-image: linear-gradient(
    black,
    $base-color-dark,
    $base-color-darker
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  padding-top: 10vh;
}

.heading {
  margin-bottom: 2rem;
  color: $base-color-lighter;
}

.carousel {
  margin: 5rem auto;
  margin-bottom: 1rem;
}

.footnote {
  text-align: center;
}

.smallCaption {
  text-align: center;
}

@media screen and (min-width: $medium-bp) {
  .smallCaption {
    display: none;
  }
}
