@import "../../styles/variables.scss";

.main {
  background-color: #16161d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  padding-top: 10vh;
  color: $base-color;
}

.heading {
  margin-bottom: 2rem;
}

.jumbotron {
  background-color: $milk-white-trans;
  padding: 3rem 7%;
  border-radius: 4px;
}

@media screen and (min-width: $small-bp) {
  .jumbotron {
    padding: 10%;
  }
}
