.main {
    background-image: url('../../public/ss-wet-man.jpeg') black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    padding-top: 2rem;
    color: black;
}

.jumbotron  {
    background-color: rgba(211, 211, 211, 0.5);
}
